@use "layouts/MuseumRoom.module";
@import "styles/gallery-theme";

.carouselGallery {
	$n: 12;
	$rotation-period: 180s;

	@keyframes rotate-carousel {
		from {
			transform: rotateY(0deg);
		}
		to {
			transform: rotateY(360deg);
		}
	}

	$r: MuseumRoom.$r;
	$offset: MuseumRoom.$offset;

	/* for certain versions of Safari and iOS, perspective origin is shifted incorrectly
	   when perspective is applied to the element rather than preserved through transform */
	transform-origin: center center (-$offset);
	transform-style: preserve-3d; // instead of inheriting perspective

	.paintings {
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		transform-style: preserve-3d; /* needed even when not rotating for Chrome */
		transform-origin: 50% 50% $offset; /* needed even when not rotating for Safari */
		&.rotating {
			animation: rotate-carousel infinite linear;
			animation-duration: $rotation-period;
			@media (prefers-reduced-motion: reduce) {
				animation-duration: 2 * $rotation-period;
			}
		}

		.painting {
			height: 30vh;
			aspect-ratio: 3/2;
			position: absolute;

			&:nth-child(2n + 1) {
				aspect-ratio: 4/5;
			}

			@for $i from 1 through $n {
				&:nth-child(#{$i}) {
					$ry: -$i * 360deg / $n;
					$dz: -$r;
					transform: translateZ($offset) rotateY($ry) translateZ($dz);
				}
			}
		}
	}
}
