@import "styles/gallery-theme";

.carouselGallery {
	$n: 12;
	$tt: 120s;

	@keyframes rotate-carousel {
		from {
			transform: rotateY(0deg);
		}
		to {
			transform: rotateY(360deg);
		}
	}

	position: absolute;
	width: 100%;

	$r: 90vh;
	perspective: 1.3 * $r;

	.paintings {
		height: 80vh;

		display: flex;
		align-items: center;
		justify-content: center;

		&.rotating {
			transform-style: preserve-3d;
			transform-origin: center center $r;
			animation: $tt rotate-carousel infinite linear;
		}

		.painting {
			height: 30vh;
			aspect-ratio: 3/2;
			position: absolute;

			background-image: linear-gradient(55.62deg, $wild-orange, $midnight-blue);

			&:nth-child(2n + 1) {
				aspect-ratio: 4/5;
			}

			@for $i from 1 through $n {
				&:nth-child(#{$i}) {
					$ry: -$i * 360deg / $n;
					$dz: -$r;
					transform: translateZ(-$dz) rotateY($ry) translateZ($dz);
				}
			}
		}

		.paintingNumber {
			display: flex;
			flex-direction: column;
			text-align: center;
			justify-content: center;
			font-size: 8rem;
			font-weight: 700;
		}
	}
}
