@use "utils/bootstrap";
@import "styles/gallery-theme";

.statueContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.statueTitle {
	margin: 1rem;
}

.statueCube {
	margin-top: 11rem;
	width: 21rem;
	height: 21rem;
	transform-style: preserve-3d;
	transform: rotateX(265deg) rotateZ(-175deg);
	@include bootstrap.media-breakpoint-up(xs) {
		width: 20rem;
		height: 20rem;
	}
	@include bootstrap.media-breakpoint-up(md) {
		margin-top: 13rem;
		width: 22.5rem;
		height: 22.5rem;
	}
}

.cubeSide {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.cubeTop {
	transform: translateZ(-21rem);
	background: linear-gradient($orange, $wild-orange);
	@include bootstrap.media-breakpoint-up(xs) {
		transform: translateZ(-20rem);
	}
	@include bootstrap.media-breakpoint-up(md) {
		transform: translateZ(-22.5rem);
	}
}

.cubeFront {
	transform: rotateX(90deg) rotateY(180deg);
	transform-origin: bottom;
	background: linear-gradient($wild-orange, $dark-wild-orange);
}

.cubeLeft {
	width: 21rem;
	transform: translateZ(-21rem) rotateY(90deg);
	transform-origin: right;
	background: linear-gradient($orange, $wild-orange);
	@include bootstrap.media-breakpoint-up(xs) {
		width: 20rem;
		transform: translateZ(-20rem) rotateY(90deg);
	}
	@include bootstrap.media-breakpoint-up(md) {
		width: 22.5rem;
		transform: translateZ(-22.5rem) rotateY(90deg);
	}
}

.statueDescription {
	text-align: left;
	padding: 15px;
	@include bootstrap.media-breakpoint-up(xs) {
		padding: 12.5px;
	}
	@include bootstrap.media-breakpoint-up(md) {
		padding: 25px;
	}
}
