@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';
@import "styles/gallery-theme";

.homeLanding {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .homeTextPanel {
        position: relative;
        width: 400px;
        height: 350px;
        margin: auto;
        @include media-breakpoint-up(md) {
            width: 750px;
            height: 600px;
        } 
        @include media-breakpoint-up(lg) {
            width: 860px;
            height: 750px;
        } 


        .homePanelContent {
            position: absolute;
            bottom: 12%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin: 40px 65px 25px 65px;
            padding: 0px 10px 0px 10px;
            @include media-breakpoint-up(md) {
                bottom: 20%;
                margin: 75px 125px 50px 125px;
                padding: 0px 40px 0px 40px;
            }
            @include media-breakpoint-up(lg) {
                bottom: 25%;
                margin: 75px 140px 50px 140px;
                padding: 0px 80px 0px 80px;
            }

            .homeDate {
                color: $white;
                font-size: 14px;
                margin-right: auto;
                margin-left: 5px;
                @include media-breakpoint-up(md) {
                    font-size: 24px;
                }
            }
            .homeHeading {
                color: $white;
                font-size: 56px;
                font-family: var(--next-font-merriweather);
                @include media-breakpoint-up(md) {
                    font-size: 96px;
                }
            }

            .homeButtons {
                margin-top: 0px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                @include media-breakpoint-up(md) {
                    margin-top: 25px;
                }
                @include media-breakpoint-up(lg) {
                    margin-top: 50px;
                }

                .homeButton {
                    margin: 0px 15px;
                    @include media-breakpoint-up(md) {
                        margin: 0px 30px;
                    }
                }
            }
        }
    }
    
    .homeBenches {
        position: absolute;
        top: 270px;
        @include media-breakpoint-up(md) {
            top: 530px;
        }
        @include media-breakpoint-up(lg) {
            top: 630px;
        }

        .homeBenchImage {
            width: 200px;
            @include media-breakpoint-up(md) {
                width: 340px;
            }
        }
    }
}

    