@import "styles/gallery-theme";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

.sidebar {
	max-height: 100vh;
	background-color: $navy-blue;
	border: 10px solid $light-orange;
	color: white;

	h1 {
		font-size: 20px;
		text-align: center;
		@include media-breakpoint-up(xl) {
			text-align: left;
		}
	}
}
