@import "styles/gallery-theme";

.container {
	display: flex;
	justify-content: center;
}

.intro-section {
	background-color: $light-blue;
	border: 10px solid $light-orange;
	padding: 50px;
}

.number {
	color: $orange;
}
