@import "styles/gallery-theme";

.container {
    display: flex;
    justify-content: flex-end;
}

.intro-section {
    background-color: $light-blue;
    padding: 50px;
    width: 50vw;
}

.number {
    color: $orange;
}