/* colors for 2023 gallery theme */
$white: #fff;

$orange: #f09932;
$light-orange: #fdc27f;
$dark-orange: #9e3b10;
$dark-brown: #50200b;
$navy-blue: #0f2f4e;

$midnight-blue: #041337;
$deep-blue: #0e2637;
$light-blue: #20446c;

$wild-orange: #ce702d;
$dark-wild-orange: #aa5315;