@use "styles/gallery-theme";

/* Overrides to apply to default values of Bootstrap variables */
$font-family-base: var(--next-font-open-sans);
$font-size-base: 1.125rem;
$headings-font-weight: 700;
$h1-font-size: 6rem;
$h2-font-size: 4rem;
$h3-font-size: 2rem;

$navbar-dark-color: white;
$navbar-dark-hover-color: white;

$body-bg: gallery-theme.$dark-brown;
$input-bg: white;

// Override accordion variables (inactive as "+" and active as "-")
$accordion-border-width: 0;
$accordion-button-icon: url("~/src/assets/icons/plus-lg.svg");
$accordion-button-active-icon: url("~/src/assets/icons/dash-lg.svg");
