@use "utils/bootstrap";
@import "styles/gallery-theme";

section.container {
	// responsive padding
	@include bootstrap.padding-top(10rem);
	@include bootstrap.padding-bottom(10rem);
}

h1,
.h1,
h2,
.h2 {
	font-family: var(--next-font-merriweather);
}

.btn-museum {
	@include bootstrap.button-variant($navy-blue, $orange);
	border-radius: 0%;
	border-width: 5px;
	font-weight: 700;
}