.sponsorImages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;

    margin: 30px auto 0px auto;

    width: 80%;
}

.sponsorInfo {
    width: 70%;
    margin: 40px auto;
    text-align: center;
}

.sponsorLink {
    display: contents;
}

a > .sponsorImage:only-child {
    width: 15%;
    max-width: 300px;
    min-width: 150px;
    height: auto;
    margin: auto;
}
.sponsorImage:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}