.sponsorImages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;

    margin: 30px auto 0px auto;

    width: 80%;
}

.sponsorImage {
    width: 15%;
    max-width: 300px;
    height: auto;
    margin: auto;
}
.sponsorImage:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}