.navbar {
	background: #50200b; // to delete later
	// opacity: 0;

	:global {
		.nav-link {
			background-image: linear-gradient(white, white);
			background-repeat: no-repeat;
			background-position-y: 35px;
			transition: background-size 0.25s ease-in-out;
			background-size: 0% 5px;
			margin-right: 1rem;

			&:hover,
			&.active {
				background-size: 100% 5px;
			}

			@media screen and (max-width: 768px) {
				margin: 0 auto 0.5rem 0;
			}
		}
	}

	.linkBtn {
		border: none;
		margin-right: auto;

		&:hover {
			background-color: white;
			color: black;
		}
	}
}
