@import "styles/gallery-theme";

.list_item {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.icon {
	margin: 6px;
	margin-right: 20px;
}

.message {
	margin-top: 1rem;
}

.red_text {
	color: red;
}
