@use "utils/bootstrap";

.scheduleCountdown {
	@include bootstrap.font-size(4rem);
	font-weight: 600;
}

.scheduleLanding {
	min-height: 90vh;
}

.titleBanner {
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: white;
}

.link {
	color: white;
	transition: 0.25s ease;

	&:hover {
		color: #ccc;
	}
}
