@use "utils/bootstrap";

.schedule-countdown {
	font-size: 50px;
}

.schedule-countdown-text {
	margin-top: 10px;
	font-size: 50px;
}

.scheduleLanding {
	min-height: 90vh;
}

.titleBanner {
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: white;
}
