@use "utils/bootstrap";
@import "styles/hackuci-overrides";

.titleBanner {
	width: calc(200px + 35vw);
	max-width: 600px;
	position: relative; // to absolutely position edges

	margin-bottom: calc(4rem + 4.25vw - 21vh);
	margin-top: 8vh;
	margin-left: auto;
	margin-right: auto;

	.lamp {
		position: absolute;
		margin: auto;
		top: -10%;
		pointer-events: none;
		left: 0;
		right: 0;
	}

	.panelStart,
	.panelEnd {
		width: 100%;
		position: absolute;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.panelStart {
		height: max(30px, 5vh); // any sufficiently large height
		bottom: 100%;
		background-image: url("~assets/images/panel_start.svg");
		background-position: bottom;
	}

	.panelEnd {
		height: max(60px, 10vh); // any sufficiently large height
		top: 100%;
		background-image: url("~assets/images/panel_end.svg");
		background-position: top;
	}

	.bannerContent {
		margin: 0 6%;
		min-height: 30vh;

		background-image: radial-gradient(
			100% 125% at 50% 7%,
			rgba(#153d63, 0.9) 0%,
			rgba(#153d63, 0.9) 50%,
			rgba(#3a6895, 0.9) 100%
		);
	}

	.bannerTitle {
		@include bootstrap.padding-top(4rem);
		@include bootstrap.padding-bottom(2rem);
		color: white;
		text-align: center;
	}

	+ * {
		position: relative;
	}
}
