@import "styles/gallery-theme";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

.user-button {
	width: 100%;
	border-radius: 0;
	color: white;

	@include media-breakpoint-up(xl) {
		padding: 0.5em 1em;
		text-align: left;
	}

	&:hover {
		background-color: $dark-wild-orange;
	}
}
