@import "styles/gallery-theme";

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
}

.container {
	width: 60%;
	min-width: 400px;
	border-radius: 5px;
	background-color: white;
	padding: 50px;
}
